<h3 class="show-for-small">Route Provider Test</h3>
<h1 class="hide-for-small">Route Provider Test</h1>

<div class="panel">
  <p>{{ message }}</p>
</div>

<div class="flexslider" flex-slider-loader>
  <ul class="slides">
    <li ng-repeat="image in myData">
      <img src="{{ image.image }}" alt="slide image">
      <p class="flex-caption">{{ image.caption }}</p>

    </li>
  </ul>
</div>

<hr>
<ul class="clearing-thumbs" data-clearing>
  <li ng-repeat="image in images2"><a href="{{ image }}">
    <img height="100" width="100" src="{{ image }}" alt="slide image">
    </a>
  </li>
</ul>
