<h3 class="show-for-small">Route Provider Test<hr></h3>
<div class="panel">
  <h4 class="hide-for-small">Route Provider Test<hr></h4>
  <p>{{ message }}</p>
</div>

<!-- Desktop Slider -->
<div class="hide-for-small">
  <div id="featured" data-orbit>
    <img ng-repeat="image in images"  src="{{ image }}" alt="slide image">
  </div>
</div>
<!-- End Desktop Slider -->
<!-- Mobile Header -->
<div class="row">
  <div class="small-12 show-for-small"><br>
    <img src="http://placehold.it/1000x600&text=For Small Screens" />
  </div>
</div>
<!-- End Mobile Header -->
<br>
