<h3 class="show-for-small">Route Provider Test</h3>
<h1 class="hide-for-small">Route Provider Test</h1>

<div class="panel">
  <p>{{ message }}</p>
</div>

<!-- Desktop Slider -->
<div class="hide-for-small">
  <ul data-orbit data-options="timer_speed:100; navigation_arrows:false;">
    <li ng-repeat="image in myData">
      <img src="{{ image.image }}" alt="slide image">
      <div class="orbit-caption">{{ image.caption }}</div>
    </li>>
  </ul>
</div>
<!-- End Desktop Slider -->
<!-- Mobile Header -->
<div class="row">
  <div class="small-12 show-for-small"><br>
    <img src="http://placehold.it/1000x600&text=For Small Screens" />
  </div>
</div>
<!-- End Mobile Header -->
<br>

<ul class="clearing-thumbs" data-clearing>
  <li ng-repeat="image in images2"><a href="{{ image }}">
    <img height="100" width="100" src="{{ image }}" alt="slide image">
    </a>
  </li>
</ul>
