<nav class="top-bar" ng-controller="NavCtrl">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#" ng-click="selectionToggle()">{{ nav.title }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon" ng-click="menuToggle()"><a href=""><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/" ng-click="menuToggle()">Home</a></li>
      <li class="divider"></li>
      <li><a href="/myRoute" ng-click="menuToggle()">Route Test</a></li>
      <li class="divider"></li>
      <li><a href="/" ng-click="menuToggle()">Home</a></li>
      <li class="divider"></li>
      <li><a href="/" ng-click="menuToggle()">Home</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
